node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store
.env
/.env.production
/.env.development
/.env.staging
/eas.json
/your_key_name.keystore
